<div class="list-group list-group-light m-2">
    <a href="<%= user_category_path(id: current_user.id) %>"  class="list-group-item list-group-item-action ">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center w-100">
                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 85px; height: 85px"/>
                <div class="m-3 flex-grow-1">
                    <p class="fw-bold mb-1">John Doe</p>
                    <hr class='m-0 w-100'/>
                    <small class="text-muted mb-0">john.doe@gmail.com</small>
                </div>
            </div>
            <span class="badge rounded-pill badge-success">Active</span>
        </div>
    </a>
</div>